/* :root {
  /* Colores */
  --clr-bg: #161722;
  --clr-bg-3: #807e7e;
  --clr-bg-4: #000000;
  --clr-bg-5: rgba(236, 17%, 32%, 0);
  --clr-text: #fafafa;
  --clr-btn: #f2a365;
  --clr-btn-hr: #eb8232;
  /* Fuente */
  --ff: "Poppins", sans-serif;
  --base-font: 1.6rem;

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background-color: var(--clr-bg-5);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg-4);
  border-radius: 0.8rem;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* HTML y body */
html {
  position: relative;
  font-size: 62.5%;
}

html, body {
  min-height: 100%;
}

right
/* Body */
body {
  font: 400 var(--base-font) var(--ff);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  width: 92%;
  margin: auto;
}

/* Main */
main {
  height: 500px;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--very-light-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  font-size: var(--md);
  margin-bottom: 10px;
  padding: 10px;
  width: 400px;
}

button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: var(--md);
  padding: 10px 20px;
}

p {
  color: var(--black);
  font-size: var(--md);
  margin-top: 20px;
}

.bola {
  width: 50%;
  height: 50%;
  margin:10px auto;
  display:block;
  padding: 10px 10px 10px 10px;
  border-radius: 10;
}

.footer {
  text-align: center;
  background-color: #116349;
  padding: 5px 5px 5px 5px;
  cursor: pointer;  
  margin-top: 100px;
  justify-content: space-between;            
}

.oculto {
  display: none;
}

.resultado {
cursor: pointer;
background-color: #116349;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
background-color: #fff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú hamburguesa para dispositivos móviles */
.ham-menu {
display: none;
cursor: pointer;
width: 40px;
height: 40px;
}

/* Sección izquierda de la barra de navegación */
.home {
width: 25%;
margin-left: 10px;
display: inline-flexbox;
}

.main-menu {
width: 180px;
height: 50px;
margin-left: 10px;
}

/* Lista de categorías */
.navbar-left ul {
list-style: none;
display: flex;
margin-left: 30px;
}

/* Enlaces de la lista de categorías */
.navbar-left ul li a {
font-size: 1.2rem;
font-weight: 500;
color: #333;
text-decoration: none;
padding: 0 15px;
}

/* Sección derecha de la barra de navegación */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Sección del banner home */
.banner {
  display: flex;
  width: 30%;
  margin: auto;
}

/* Lista de enlaces de la cuenta de usuario */
.navbar-right ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
  color: #333;
}

/* Correo electrónico del usuario */
.navbar-email {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-right: 30px;
}

.desktop-menu {
  display: inline-block;
  text-decoration: none;
  color: #333;
  display: flex;
}

.table-board {
  padding: 10px;
  background-color: #f30;
  margin:0 auto;  
  font-size: 1.6rem;
  position: absolute;
}

td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.superior {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--clr-bg);  
  box-decoration-break: none;
}

.header-1 {
  padding: 15px;
  position: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.header-2 {
  padding: 15px;
  position: right;
  text-decoration: none;
  color: #fff;
  font: 400 var(--base-font) var(--ff);
  background-color: #f30;  
  text-decoration: none;
  font-size: 2.2em;
  font-weight: 500;
  text-align: center;
}

.header-3 {
  padding: 15;
  position: center;
  display: flex;
  justify-content: space-between;
}

.header-4 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 35px;
  height: 80px;
  font-weight: 500;
  color: #fefefe;
  font-size: 1.9rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  background-color: #f30;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú hamburguesa para dispositivos móviles */
.ham-menu {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* Sección izquierda de la barra de navegación */
.menu-button {
  width: 5%;
  margin-left: 10px;
  display: flex;
  align-items: left;
  position: absolute;
}

/* Logo */
.logo {
  width: 180px;
  margin-left: 10px;
  position: absolute;
}

.main-menu {
  width: 180px;
  height: 50px;
  margin-left: 10px;
}

/* Lista de categorías */
.navbar-left ul {
  list-style: none;
  display: flex;
  margin-left: 30px;
}

/* Enlaces de la lista de categorías */
.navbar-left ul li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  padding: 0 15px;
}

/* Sección derecha de la barra de navegación */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Sección del banner home */
.banner {
  display: flex;
  width: 50%;
	margin:10px auto;
	/* display:block; */
	padding: 10px 10px 10px 10px;
}


/* Lista de enlaces de la cuenta de usuario */
.navbar-right ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
  color: #333;
}

/* Correo electrónico del usuario */
.navbar-email {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-right: 30px;
}


.table-board {
  padding: 10px;
  background-color: #f30;
  margin:0 auto;  
  font-size: 1.6rem;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.superior {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--clr-bg);  
  box-decoration-break: none;
}

.route-button {
  color: #fff;
  font: 400 var(--base-font) var(--ff);
  background-color: #f30;  
  font: 400 var(--base-font) var(--ff);
  font-weight: 500;
  text-decoration: none;
  font-size: 2.2rem;
  border-radius: 10%;
}

/* Enlaces */
a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
}
a:hover {
  background-color: #f2f2f2;
} */



        /* Variables CSS */
        :root {
          --black: #000000;
          --white: #ffffff;
          --very-light-pink: #c7c7c7;
          --text-input-field: #150050;
          --#5837D0;
          --#394A6D;
          --#3C9D9B;
          --#52DE97;
          --#C0FFB3;
          --sm: 14px;
          --md: 16px;
          --lg: 18px;
      }

      /* Reglas de estilo */
      * {
          margin: 20;
          padding: 10;
          box-sizing: border-box;
      }

      h2 {
          color: var(--black);
          font-size: var(--md);
          margin-bottom: 20px;
      }

      input {
          background-color: var(--white);
          border: 2px solid var(--black);
          color: var(--black);
          font-size: var(--md);
          margin-bottom: 10px;
          padding: 10px;
          width: 400px;
      }

      p {
          color: var(--black);
          font-size: var(--md);
          margin-top: 20px;
      }

      .oculto {
          display: none;
      }

      .resultado {
          cursor: pointer;
      }

nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
background-color: #fff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú hamburguesa para dispositivos móviles */
.menu {
display: none;
cursor: pointer;
width: 40px;
height: 40px;
}

/* Sección izquierda de la barra de navegación */
.home {
width: 33%;
margin-left: 10px;
display: flex;
align-items: center;
}

/* Logo */
.logo {
width: 180px;
height: 50px;
margin-left: 10px;
}

.main-menu {
width: 180px;
height: 50px;
margin-left: 10px;
}

/* Lista de categorías */
.navbar-left ul {
list-style: none;
display: flex;
margin-left: 30px;
}

/* Enlaces de la lista de categorías */
.navbar-left ul li a {
font-size: 1.2rem;
font-weight: 500;
color: #333;
text-decoration: none;
padding: 0 15px;
}

/* Sección derecha de la barra de navegación */
.navbar-right {
display: flex;
align-items: center;
}

/* Sección del banner home */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  min-width: 1050px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 10);
  border-radius: 10px 10px 20px 20px;
}

/* Sección del banner divertidos*/
.banner-divertidos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  min-width: 1050px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 10);
  border-radius: 10px 10px 20px 20px;
    display: block;
    width: 30%;
    padding: 10px 10px 10px 10px;
    margin:10px auto;
  }

/* Lista de enlaces de la cuenta de usuario */
.navbar-right ul {
list-style: none;
display: flex;
margin-right: 20px;
color: #333;
}

/* Correo electrónico del usuario */
.navbar-email {
font-size: 1.2rem;
font-weight: 500;
color: #333;
margin-right: 30px;
}

.mobile-menu {
  margin-top: 20;
  display: flex;
  text-decoration: none;
  color: #333;
}
  
.table-board {
padding: 10px;
background-color: #f30;
margin:0 auto;  
font-size: 1.6rem;
position: absolute;
}

td {
border: 1px solid #ddd;
text-align: center;
padding: 8px;
}

.superior {
text-decoration: none;
font-size: 1.6rem;
font-weight: 500;
background-color: var(--clr-bg);  
box-decoration-break: none;
}

/* Responsive para dispositivos móviles */
@media screen and (max-width: 600px) {
  /* Estilos para dispositivos móviles */
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
