/* :root {
  /* Colores */
  --clr-bg: #161722;
  --clr-bg-3: #807e7e;
  --clr-bg-4: #000000;
  --clr-bg-5: rgba(236, 17%, 32%, 0);
  --clr-text: #fafafa;
  --clr-btn: #f2a365;
  --clr-btn-hr: #eb8232;
  /* Fuente */
  --ff: "Poppins", sans-serif;
  --base-font: 1.6rem;

/* HTML, Body, Main */
/* HTML */
html {
  position: relative;
  font-size: 62.5%;
  min-height: 100%;
}
/* Body */
body {
  font-family: 'Quicksand', sans-serif;
  font: 400 var(--base-font) var(--ff);
  background-image: url("https://cdn.pixabay.com/photo/2016/12/20/22/03/background-1921589_960_720.jpg");
  background-size: cover;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  width: 92%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  display: flex;
}
/* Main */
main {
  height: 500px;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 200%;
}

input {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  font-size: var(--md);
  margin-bottom: 10px;
  padding: 10px;
  width: 400px;
}

button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: var(--md);
  padding: 10px 20px;
}

p {
  color: var(--black);
  font-size: var(--md);
  margin-top: 20px;
}

.footer {
  text-align: center;
  background-color:  #161722;
  padding: 1vw 1vw 1vw 1vw;
  cursor: pointer;  
  margin-top: 100px;
  justify-content: space-between;
  position: fixed;
  right: 10px;
  bottom: 0px;
  border-radius: 15%;
  font-size: 1.6em;
  color: white; /* agrega un color blanco al texto */
  text-decoration: none; /* elimina el subrayado del enlace */
}

.footer:hover {
  background-color: #3bb3c3; /* cambia el color de fondo al pasar el mouse */
}

p {
  color: var(--black);
  font-size: var(--md);
  margin-top: 20px;
}

.bola {
  width: 50%;
  height: 50%;
  margin:10px auto;
  display:block;
  padding: 10px 10px 10px 10px;
  border-radius: 10;
}

.oculto {
  display: none;
}

.resultado {
cursor: pointer;
background-color: #116349;
}

.table-board {
  padding: 10px;
  background-color: #f30;
  margin:0 auto;  
  font-size: 1.6rem;
  position: absolute;
  border-collapse: collapse;
}

.superior {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--clr-bg);  
  box-decoration-break: none;
}

.header-1 {
  padding: 15px;
  position: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 10px;
  font-weight: bold;
  font-family: Fantasy;
}

.header-2 {
  padding: 15px;
  position: right;
  text-decoration: none;
  color: #fff;
  font: 400 var(--base-font) var(--ff);
  background-color: #f30;  
  text-decoration: none;
  font-size: 2.2em;
  font-weight: 500;
  text-align: center;
}

.header-3 {
  padding: 15;
  position: center;
  display: flex;
  justify-content: space-between;
}

.header-4 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 35px;
  height: 80px;
  font-weight: 500;
  color: #fefefe;
  font-size: 1.9rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  background-color: #f30;
  font-weight: bold;
}

/* Sección izquierda de la barra de navegación */
.menu-button {
  width: 5%;
  margin-left: 10px;
  display: flex;
  align-items: left;
  position: absolute;
}

/* Logo */
.logo {
  width: 180px;
  margin-left: 10px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 25%;
}

/* Menú hamburguesa principal */
.ham-menu {
cursor: pointer;
width: 40px;
height: 40px;
position: absolute;
top: 40px;
right: 40px;
}

  /* Sección del banner divertidos*/
  .banner-divertidos {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(10, 10, 10, 10);
    border-radius: 10px 10px 20px 20px;
    display: block;
    width: 30%;
    padding: 10px 10px 10px 10px;
    }

.route-button {
  color: #fff;
  font: 400 var(--base-font) var(--ff);
  background-color: #f30;  
  font: 400 var(--base-font) var(--ff);
  font-weight: 500;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 30;
}

#button-1 {
  text-decoration: none;
}

#button-2 {
  text-decoration: none;
}

.route-diver {
  color: var(--black);
  font: 400 var(--base-font) var(--ff);
  background-color: #09941c;
  font: 400 var(--base-font) var(--ff);
  font-weight: 500;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 10%;
  margin-right: 15px;
  transition: background-color 0.2s ease; /* agrega una transición suave al cambio de color de fondo */
}

.route-diver:hover {
  background-color: skyblue; /* cambia el color de fondo al pasar el mouse */
  transform: translateY(-2px); /* agrega un efecto de presionado al botón al pasar el mouse */
}

.route-button {

  font: 400 var(--base-font) var(--ff);
  font-weight: 500;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;
}

        /* Variables CSS */
        :root {
          --black: #000000;
          --white: #ffffff;
          --very-light-pink: #c7c7c7;
          --text-input-field: #150050;
          --#5837D0;
          --#394A6D;
          --#3C9D9B;
          --#52DE97;
          --#C0FFB3;
          --sm: 14px;
          --md: 16px;
          --lg: 18px;
      }

      /* Reglas de estilo */
      * {
          margin: 20;
          padding: 10;
          box-sizing: border-box;
      }

      h2 {
          color: var(--black);
          font-size: var(--md);
          margin-bottom: 20px;
      }

      p {
          color: var(--black);
          font-size: var(--md);
          margin-top: 20px;
      }

/* Sección home */
.home {
width: 25%;
margin-left: 10px;
display: flex;
align-items: center;
}

.mobile-menu {
  margin-top: 20;
  display: flex;
  text-decoration: none;
  color: #333;
}

td {
border: 1px solid #ddd;
text-align: center;
padding: 8px;
}

.inactive {
  display: none;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
background-color: #fff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-bottom: 1px solid var(--very-light-pink);
}

  .navbar-email {
    cursor: pointer;
    text-decoration: none;
  }

  .list-menu {
    text-decoration: none;
    justify-content: right;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    color: #333;
    margin-right: 30px;
    font-size: var(--md);
    margin-right: 12px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 40px;
  }

@media (max-width: 600px) {
  .menu {
    display: block;
  }
}

@media (min-width: 599px) {
  .mobile-menu {
    display: none;
  }
}

/* Responsive para dispositivos móviles */
@media screen and (max-width: 600px) {
  /* Estilos para dispositivos móviles */
}